// @include establish-baseline;

// $base-font-size: 16px; //網頁預設文字大小  
// $base-line-height: 24px; // 行距  

html, body {
  width: 100%;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "helvetica", "Hiragino Sans GB","Microsoft YaHei",
  "STHeiti","Helvetica Neue",Arial,"Microsoft JhengHei",
  "WenQuanYi Micro Hei","SimSun","sans-serif";
  font-weight: 300;
}

.container {
  width: 100%;
  height: 100%;
}






