@font-face {
  font-family: Brandon Blk;
  src: url('../fonts/Brandon_blk.otf');
}

@font-face {
  font-family: Brandon Bld;
  src: url('../fonts/Brandon_bld.otf');
}

@font-face {
  font-family: Brandon Med;
  src: url('../fonts/Brandon_med.otf');
}

@font-face {
  font-family: Brandon Reg;
  src: url('../fonts/Brandon_reg.otf');
}