.home {
  display: flex;
  flex-direction: column;
  padding: 22px 48px 0 48px;
  box-sizing: border-box;
  .first-nav {
    width: 100%;
    margin-left: -6px;
    .top {
      margin-right: 24px;
    }
    .publishing {
      margin-right: 24px;
    }
  }
  .first-nav-item {
    display: inline-block;
  }
  .first-nav-item-link {
    &:hover {
      color: #5479BC;  
    }
    width: 100%;
    display: block;
    font-family: Brandon Blk;
    font-size: 6.4vw;
  }
  .second-nav,
  .third-nav {
    width: 100%;
    margin-bottom: 30px;
  }
  .second-nav-item,
  .third-nav-item {
    &:first-child {
      margin-right: 18px;
    }
    display: inline-block;
  }
  .second-nav-item-link,
  .third-nav-item-link {
    &:hover {
      text-decoration: underline;
    }
    .active {
      text-decoration: underline;
    }
    width: 100%;
    display: block;
    font-family: Brandon Bld;
    font-size: 2vw;
  }
  .about-section {
    width: 40%;
    .eng-des {
      font-family: Brandon Bld;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 24px;
    }
    .zh-des {
      font-size: 10px;
      font-size: 16px;
      font-weight: bold;
    }
    .info-group {
      margin-top: 96px;
      font-family: Brandon Bld;
      
      .contact-group,
      .follow-group {
        display: flex;
      }

      .contact-label,
      .follow-label {
        margin-right: 6px;
      }
      
      .follow-value {
        text-decoration: underline;
      }

    }
  }


}