extends layout
block index
  .home
    ul.first-nav 
      li.first-nav-item
        a(href="/").first-nav-item-link DESK
      li.first-nav-item.top
        a(href="/top")#top-link.first-nav-item-link TOP
      li.first-nav-item.publishing
        a(href="https://www.shopify.com/", target="_blank").first-nav-item-link PUBLISHING
      li.first-nav-item
        a(href="/co-ltd").first-nav-item-link CO.,LTD
    ul.third-nav   
      li.third-nav-item
        a(href="/about", style="text-decoration: underline;").third-nav-item-link ABOUT
      li.third-nav-item
        a(href="/people").third-nav-item-link PEOPLE
    include about-section

   