extends layout
block index
  .home
    ul.first-nav 
      li.first-nav-item
        a(href="/").first-nav-item-link DESK
      li.first-nav-item.top
        a.first-nav-item-link TOP
      li.first-nav-item.publishing
        a.first-nav-item-link PUBLISHING
      li.first-nav-item
        a.first-nav-item-link CO.,LTD
    //- ul.second-nav 
    //-   li.second-nav-item.office
    //-     a(href="https://www.facebook.com/ChenJingkai").second-nav-item-link CHENJINGKAI OFFICE
    //-   li.second-nav-item
    //-     a(href="http://panyuchou.com/").second-nav-item-link PANYUCHOU.COM
    ul.third-nav   
      li.third-nav-item
        a.third-nav-item-link ABOUT
      li.third-nav-item
        a.third-nav-item-link PEOPLE
    .about-section
      .eng-des DTP (Desktop publishing) is a comprehensive creative company, we value research and design. We expect to make influence on different areas, such as fashion, publishing, technology, renewable energy, media, politics and environment. This is a project based company, developed by chenjingkai office and panyuchou.com. However we accept any kind of possiblity to colleborate with different design area in the future.
      .zh-des DTP 是一間綜合型的創意公司，研究和設計。期望設計之外影響更多的領域：媒體、政治、可再生能源、工藝、出版、時尚、環境。以專案項目進行工作，目前以 chenjingkai office  panyuchou.com 為主要，接受任何一種有可能的設計方式，未來會有更多的專案項目，並與不同專業領域進行合作，作為公司工作項目一部份。
      .info-group
        .contact-group
          .contact-label Contact us
          .contact-value desktoppublishing@gmail.com
        .follow-group
          .follow-label Follow us on
          a(href="https://www.facebook.com/desktoppubilishing").follow-value Facebookpage


