!!! 5
html(lang='zh-TW')
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title DTP
    meta(description="desktop publishing")
    link(rel="stylesheet", href="/assets/css/all.css")
    link(rel="icon", type="image/jpg", href="/assets/img/favicon.jpg")
  body
    block index
    block page-showcase
    block page-books
    block page-single-book-detail