.multi-images
  .wrap-of-image
    img.content-of-image(src="https://source.unsplash.com/category/nature/1280x720")
  .wrap-of-image
    img.content-of-image(src="https://source.unsplash.com/category/buildings/1600x900")
  .wrap-of-image
    img.content-of-image(src="https://source.unsplash.com/weekly?water/")
  .wrap-of-image
    img.content-of-image(src="https://source.unsplash.com/category/people/768x1024")
  .wrap-of-image
    img.content-of-image(src="https://source.unsplash.com/category/objects/1600x1000")
  .wrap-of-image
    img.content-of-image(src="https://source.unsplash.com/category/technology/")
