ul.nav-link-group
  li.single-link 
    a(href="/page-showcase") DTP
  li.single-link
    a(href="http://www.chen-jingkai.com/") CHENJINGKAI OFFICE
  li.single-link
    a(href="http://panyuchou.com/") PANYU CHOU.COM
  li.single-link
    a(href="/page-books") BOOK
  li.single-link
    a(href="https://www.facebook.com/ChenJingkai/info/?tab=overview") SCHOOL
