extends layout
block page-showcase
  .page-showcase
    .page-title-section
      a.page-title(href="/page-showcase") DTP
    .page-content-section
      .page-content-section-left
        .multi-images
          .wrap-of-image
            img.content-of-image(src="https://source.unsplash.com/category/nature/1280x720")
          .wrap-of-image
            img.content-of-image(src="https://source.unsplash.com/category/buildings/1600x900")
          .wrap-of-image
            img.content-of-image(src="https://source.unsplash.com/weekly?water/")
          .wrap-of-image
            img.content-of-image(src="https://source.unsplash.com/category/people/768x1024")
          .wrap-of-image
            img.content-of-image(src="https://source.unsplash.com/category/objects/1600x1000")
          .wrap-of-image
            img.content-of-image(src="https://source.unsplash.com/category/technology/")
      .page-content-section-middle
        .multi-images
          .wrap-of-image
            img.content-of-image(src="https://source.unsplash.com/category/people/768x1024")
          .wrap-of-image
            img.content-of-image(src="https://source.unsplash.com/category/nature/1280x720")
          .wrap-of-image
            img.content-of-image(src="https://source.unsplash.com/weekly?water/")
          .wrap-of-image
            img.content-of-image(src="https://source.unsplash.com/category/objects/1600x1000")
          .wrap-of-image
            img.content-of-image(src="https://source.unsplash.com/category/technology/")
          .wrap-of-image
            img.content-of-image(src="https://source.unsplash.com/category/buildings/1600x900")
      .page-content-section-right
          .multi-images
            .wrap-of-image
              img.content-of-image(src="https://source.unsplash.com/category/objects/1600x1000")
            .wrap-of-image
              img.content-of-image(src="https://source.unsplash.com/category/nature/1280x720")
            .wrap-of-image
              img.content-of-image(src="https://source.unsplash.com/weekly?water/")
            .wrap-of-image
              img.content-of-image(src="https://source.unsplash.com/category/buildings/1600x900")
            .wrap-of-image
              img.content-of-image(src="https://source.unsplash.com/category/people/768x1024")
            .wrap-of-image
              img.content-of-image(src="https://source.unsplash.com/category/technology/")
              

