extends layout
block page-showcase
  .page-showcase
    //- .page-intro-section
    //-   .name Desktop publishing Co., Ltd
    //-   .nav
    //-     a.links(href="/") chenjingkai office
    //-     a.links(href="/") panyuchou.com
    //-     a.links(href="/") bookshop
    //-     .special
    //-       .link-name Contact us
    //-       a.link-content(href="/") destoppublishing@gmail.com
    //-   .descrpition DTP (Desktop publishing) is a comprehensive creative company, we value research and design. We expect to make influence on different areas, such as fashion, publishing, technology, renewable energy, media, politics and environment. This is a project based company, developed by chenjingkai office and panyuchou.com. However we accept any kind of possiblity to colleborate with different design area in the future.
    .page-content
      .page-third-tenth-height.first-row
        .left-box
          .wrap-of-image
            img.content-of-image(src="https://placehold.it/400x600")
        .middle-box
          .wrap-of-image
            img.content-of-image(src="https://placehold.it/400x400")
        .right-box
          .wrap-of-image
            img.content-of-image(src="https://placehold.it/400x200")
      .page-fourth-tenth-height.second-row
        .left-box
          .wrap-of-image
            img.content-of-image(src="https://placehold.it/400x400")
        .middle-box
          .wrap-of-image
            img.content-of-image(src="https://placehold.it/600x400")
      .page-fourth-tenth-height.third-row
        .left-box
          .wrap-of-image
            img.content-of-image(src="https://placehold.it/1600x600")
      .page-third-tenth-height.first-row
        .left-box
          .wrap-of-image
            img.content-of-image(src="https://placehold.it/400x600")
        .middle-box
          .wrap-of-image
            img.content-of-image(src="https://placehold.it/400x400")
        .right-box
          .wrap-of-image
            img.content-of-image(src="https://placehold.it/400x200")
      .page-fourth-tenth-height.second-row
        .left-box
          .wrap-of-image
            img.content-of-image(src="https://placehold.it/400x400")
        .middle-box
          .wrap-of-image
            img.content-of-image(src="https://placehold.it/600x400")
      .page-fourth-tenth-height.third-row
        .left-box
          .wrap-of-image
            img.content-of-image(src="https://placehold.it/1600x600")
        

      //- .page-content-section-left
      //-   .multi-images
      //-     .wrap-of-image
      //-       img.content-of-image(src="https://source.unsplash.com/category/nature/1280x720")
      //-     .wrap-of-image
      //-       img.content-of-image(src="https://source.unsplash.com/category/buildings/1600x900")
      //-     .wrap-of-image
      //-       img.content-of-image(src="https://source.unsplash.com/weekly?water/")
      //-     .wrap-of-image
      //-       img.content-of-image(src="https://source.unsplash.com/category/people/768x1024")
      //-     .wrap-of-image
      //-       img.content-of-image(src="https://source.unsplash.com/category/objects/1600x1000")
      //-     .wrap-of-image
      //-       img.content-of-image(src="https://source.unsplash.com/category/technology/")
      //- .page-content-section-middle
      //-   .multi-images
      //-     .wrap-of-image
      //-       img.content-of-image(src="https://source.unsplash.com/category/people/768x1024")
      //-     .wrap-of-image
      //-       img.content-of-image(src="https://source.unsplash.com/category/nature/1280x720")
      //-     .wrap-of-image
      //-       img.content-of-image(src="https://source.unsplash.com/weekly?water/")
      //-     .wrap-of-image
      //-       img.content-of-image(src="https://source.unsplash.com/category/objects/1600x1000")
      //-     .wrap-of-image
      //-       img.content-of-image(src="https://source.unsplash.com/category/technology/")
      //-     .wrap-of-image
      //-       img.content-of-image(src="https://source.unsplash.com/category/buildings/1600x900")
      //- .page-content-section-right
      //-     .multi-images
      //-       .wrap-of-image
      //-         img.content-of-image(src="https://source.unsplash.com/category/objects/1600x1000")
      //-       .wrap-of-image
      //-         img.content-of-image(src="https://source.unsplash.com/category/nature/1280x720")
      //-       .wrap-of-image
      //-         img.content-of-image(src="https://source.unsplash.com/weekly?water/")
      //-       .wrap-of-image
      //-         img.content-of-image(src="https://source.unsplash.com/category/buildings/1600x900")
      //-       .wrap-of-image
      //-         img.content-of-image(src="https://source.unsplash.com/category/people/768x1024")
      //-       .wrap-of-image
      //-         img.content-of-image(src="https://source.unsplash.com/category/technology/")
              

