.page-books
  each val in [1, 2, 3, 4, 5]
    .single-book
      img.single-book-image(src="https://source.unsplash.com/768x1024")
      .single-book-title preservation is overtaking us
      .single-book-author GSAPP Transcripts, 2014