.page-single-book-detail
  .section.main
    img(src="https://source.unsplash.com/category/objects")
    .btn-buy Buy
  .section.second
    .left
      img(src="https://source.unsplash.com/category/objects")
    .right
      img(src="https://source.unsplash.com/category/objects")
  .section.third
    .left
      img(src="https://source.unsplash.com/category/objects")
    .right
      img(src="https://source.unsplash.com/category/objects")
    