.people-section
  .names-of-people
    .card-of-person
      .main-focus
        .name Chen Jingkai
      .sub-focus
        a(href="https://www.facebook.com/ChenJingkai/").workplace Chenjingkai Office 2012
        a(href="mailto:webmaster@example.com").email im.jingkai@gmail.com
        a(href="www.chen-jingkai.com").website www.chen-jingkai.com
    a.name-of-person Pan Yuchou
    a.name-of-person Ho Yuda 
    a.name-of-person Chen Chinwei
    a.name-of-person Xian Zhoug
    a.name-of-person Wu Moju
    a.name-of-person Chen Yichun
    a.name-of-person Chen Kezhoug