extends layout
block index
  .home
    ul.first-nav 
      li.first-nav-item
        a(href="/").first-nav-item-link DESK
      li.first-nav-item.top
        a(href="/top")#top-link.first-nav-item-link TOP
      li.first-nav-item.publishing
        a(href="https://www.shopify.com/", target="_blank").first-nav-item-link PUBLISHING
      li.first-nav-item
        a(href="/co-ltd").first-nav-item-link CO.,LTD
    ul#second-nav.second-nav
      li.second-nav-item.office
        a(href="https://www.facebook.com/ChenJingkai", target="_blank").second-nav-item-link CHENJINGKAI OFFICE
      li.second-nav-item
        a(href="http://panyuchou.com/", target="_blank").second-nav-item-link PANYUCHOU.COM
    .show-case
      .photo-component
        img.actual-image(src="https://placehold.it/360x540/"  + ( Math.random(99) * 400) )
      .photo-component
        img.actual-image(src="https://placehold.it/360x360/"  + ( Math.random(99) * 400) )
      .photo-component
        img.actual-image(src="https://placehold.it/360x180/"  + ( Math.random(99) * 400) )
      .photo-component
        img.actual-image(src="https://placehold.it/360x360/"  + ( Math.random(99) * 400) )
      .photo-component
        img.actual-image(src="https://placehold.it/540x360/"  + ( Math.random(99) * 400) )
      .photo-component
        img.actual-image(src="https://placehold.it/360x540/"  + ( Math.random(99) * 400) )
      .photo-component
        img.actual-image(src="https://placehold.it/360x360/"  + ( Math.random(99) * 400) )
      .photo-component
        img.actual-image(src="https://placehold.it/360x360/"  + ( Math.random(99) * 400) )
      .photo-component
        img.actual-image(src="https://placehold.it/1440x360/"  + ( Math.random(99) * 400) )
      .photo-component
        img.actual-image(src="https://placehold.it/360x540/"  + ( Math.random(99) * 400) )
      .photo-component
        img.actual-image(src="https://placehold.it/360x360/"  + ( Math.random(99) * 400) )
      .photo-component
        img.actual-image(src="https://placehold.it/360x180/"  + ( Math.random(99) * 400) )   
        

